.search-product{
    
    background-color: white;
    width: 1170px;
    margin: 0px auto;
    margin-top: 40px;
    height: auto;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}
