/* .table {
    display: flex;
    height: auto;
    justify-content: space-between;
    margin-top: 30px;
    background-color: white;
}
.table td {
    vertical-align: middle;
}
.table table {
    text-align: center;
    width: 100%;
}
.table table tr td {
    padding: 10px;
}
.table-right {
    width: 297px;
}
.table-left {
    width: 834px;
}
.table-bt {
    padding: 10px;
}
.table-bt > div {
    padding: 5px;
} */
.show-cart {
    width: 100%;

}
.show-cart  > div {
    display: flex;
    background-color: white;
    margin: 12px 10px;
}
#menu {
    height: 50px;
    line-height: 50px;
}
#menu > * {
    padding-left: 15px;
}
img {
    display: inline-block;
}
.show-cart  > div > div {
    padding: 0px auto;
}
#items {
    border-radius: 1px solid rgb(73, 73, 73);

}
#items > div {
    height: 130px;
    line-height: 130px;
}
#img {
    width: 20%;
}
#product {
    width: 25%;
}

#price {
    width: 15%;
}
#amount {
    width: 15%;
}
#amount input{
    display: inline-block;
    width: 80px;
}
#total-price {
    width: 15%;
}
#delete {
    width:10%;
}







