* {
    margin: 0;   
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
@font-face{
    src:url(font_psd/lato/Lato-Bold.ttf);
    font-family: lato-bold;
}
@font-face{
    src:url(font_psd/lato/Lato-Regular.ttf);
    font-family: lato-regular;
}
body {
    background-color: #eaeaea;
}
h2 {
    font-family: lato-regular, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}
label {
    font-family: lato-regular;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}
.header  {
    max-width: 100%;
    height: 115px;
    background-color: #222222;
    
}
.ctn {
    max-width: 1170px;
    margin: 0px auto;
}

/* header */
.container {
    display: flex;
    justify-content: space-between;
}


.header-left img {
    vertical-align: middle;
    margin-top: 24px;
}
.header-top {
    word-spacing: -4px;
    float: right;
}
.header-top li{
    display: inline-block;
    font-size: 12px;
    line-height: 50px;
}
.header-top li a{
    border-right: 1px solid rgb(175, 174, 174);;
    border-left: 1px solid rgb(175, 174, 174);;
    padding: 0px 15px;
    color: rgb(175, 174, 174);
    letter-spacing: 1px;
}
.header-top li:first-child a{
    border-left: none;
}
.header-top li:last-child a{
    border-right: none;
}
.header-bottom {
    clear: both;
    margin-right: 0;
    width: 780px;
    display: flex;
}
.header-bottom form {
    display: block;
    width: 600px;
}
.header-bottom .search {
    flex-grow: 7;
    flex-shrink: 4;
    height: 37px;
    border-radius: 3px;
    line-height: 37px;
    background-color: white;
    margin-right: 80px;
}
.header-bottom .search  input {
    width: 90%;
    border: none;
    background: none;
    padding-left: 13px;
}
.header-bottom .search  button {
    border: none;
    margin-top: -37px;
    width: 55px;
    color: rgb(252, 252, 252);
    background: #f10e34;
    height: 100%;
    display: inline-block;
    float: right;
    border-radius: 0px 3px 3px 0px;
    text-align: center;
}
.header-bottom .cart {
    flex-shrink: 1;
    flex-grow: 1;
    height: 37px;
    display: flex;
}
.header-bottom .cart:hover {
    background-color: rgb(149, 132, 87);
}
.header-bottom .cart > div:first-child {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background: #f10e34;
    text-align: center;
    line-height: 37px;
}
.header-bottom .cart > div:first-child a {
    color: white;
    margin-left: -3px;
}
.header-bottom .price {
    padding-left: 10px;
}
.header-bottom .price > p:first-child {
    color: rgb(180, 179, 179);
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12px;
}
.header-bottom .price > a {
    color: rgb(228, 228, 228);
    font-size: 15px;
}

/* category */
.category {
    height: 50px;
    background: #f10e34;
    max-width: 100%;
    line-height: 50px;
}
.ctn-cat {
    display: flex;
    justify-content: space-between;
}
.ctn-cat a {
    color: rgb(235, 235, 235);
}
.cat-left > ul > li {
    text-transform: uppercase;
    padding-left: 30px;
    position: relative;
    font-family: lato-bold, sans-serif;
}
.cat-left > ul > li > a {
    display: inline-block;
    height: 100%;
}
.cat-left > ul > li > ul {
    z-index: 1;
    display: none;
    background: white;
    position: absolute;
}
.cat-left > ul > li:hover > ul {
    display: block;
    top: 100%;
    left: 0;
    width: 300px;
    height: 450px;
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
}
.cat-left > ul > li > ul > li {
    line-height: 50px;
    height: 50px;
    text-transform: capitalize;
    max-width: 100%;
    border-bottom: 1px solid rgb(230, 230, 230);
    text-indent: 15px;
}
.cat-left > ul > li > ul > li a {
    font-family: lato-regular, sans-serif;
    color: #222222;
    width: 100%;
    display: inline-block;
}
.cat-left > ul > li > ul > li:last-child {
    border-bottom: none;
}

.cat-right li {
    display: inline-block;
    text-transform: uppercase;
    font-weight: normal;
    padding: 0px 20px;
}
.cat-right li a {
    position: relative;
    display: inline-block;
    height: 100%;
    font-family: lato-regular, sans-serif;
    text-shadow: 0px 0px 2px rgb(250, 11, 11);
}

.cat-right li a:hover{
    color: rgb(228, 231, 35);
    transition: .6s;
}
.cat-right li a:after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background: rgb(15, 230, 15);
    transition: 250ms;
    margin-bottom: 13px;
}
.cat-right li a:hover:after {
    transform: translateX(-50%) scaleX(1);
}

/* main */
.main {
    height: auto;
    width: 100%;
}
.main1 {
    display: flex;
    justify-content: space-between;
    height: auto;
}
/* main1-left */
.main1-left {
    width: 300px;
    position: relative;
}
.main1-left .front img {
    width: 300px;
    height: 450px;
    display: inline-block;
}
.main1-left .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main1-left a > * {
    color: rgb(80, 80, 80);
    font-size: 20px;
}
.back-content {
    text-align: center;
}
.back-content > * {
    padding: 5px;
    font-family: lato-regular, sans-serif;
    padding: 4px;
}
.icon > a {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    padding-top: 5px;
    padding-left: 1px;
    transition: 1s;
}
.icon > a:hover {
    background-color: rgb(204, 204, 204);
}
.main1-left .back h3 {
    text-transform: capitalize;
}
.main1-left .back p {
    text-transform: unset;
}
.front, .back {
    overflow: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform .6s;
}
.front {
    transform: perspective(600px) rotateY(0deg);
}
.back {
    background-color: rgb(223, 241, 179);
    transform: perspective(600px) rotateY(180deg);
}
.main1-left:hover .front {
    transform: perspective(600px) rotateY(-180deg);
}
.main1-left:hover .back {
    transform: perspective(600px) rotateY(0deg);
}





#main1-content {
    background: #f10e34;
    display: flex;
    justify-content: space-around;
    margin-top: -4px;
    height: 75px;
    padding-top: 17px;
}
#main1-content > div {
    text-align: center;
}
#main1-content h2{
    text-transform: uppercase;
    font-family: lato-bold, sans-serif;
    font-size: 15px;
    padding-bottom: 3px;
    letter-spacing: 3px;
    color: rgb(235, 235, 235);
}
#main1-content p{
    text-transform: capitalize;
    font-family: lato-regular, sans-serif;
    font-size: 15px;
    color: rgb(235, 235, 235);
}
/* .main1-right{
    max-width: 834px;
    height: 450px;
    background: white;
}
.main1-right > img {
    display: inline-block;
    width: 834px;
    height: 375px;
} */
/* img-3 */
.slide {
    overflow: hidden;
    position: relative;
}
.move {
    width: 100%;
    height: 450px;
    position: absolute;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.move-slide > a {
    width: auto;
    display: inline-block;
    height: auto;
}
.move * {
    font-size: 70px;
    width: 47.5px;
    height: 70px;
    cursor: pointer;
    transition: all .5s;
}
.move > svg:nth-child(1) {
    margin-left: 360px;
    color:#f10e34;
    opacity: 0;
}
.move > svg:nth-child(2) {
    margin-right: 360px;
    color:#f10e34;
    opacity: 0;

}
.move:hover > svg:nth-child(1) {
    margin: 0;
    color:#f10e34;
    opacity: 1;


}
.move:hover > svg:nth-child(2) {
    margin: 0;
    color: #f10e34;
    opacity: 1;

}
.move-slide {
    width: 7777px;
    height: 834px;
    transition: all .6s;
    word-spacing: -4px;
}
.move-slide img {
    width: 834px;
    height: 450px;
    display: inline-block;
    float: left;

}
.main1-right {
    /* position: relative; */
    width: 834px;
    height: 450px;
    /* background: url(img_psd/bg-1.jpg); */
    /* background-size: cover; */
}
.main1-right .clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
}
.main1-right .clip1 {
    background-color: #adadad;
    clip-path: polygon(0 0, 46% 0, 18% 100%, 0 100%);
    background: url(img_psd/bg-1.jpg);
    background-size: cover;
}
.main1-right .clip2 {
    background-color: #bbbbbb;
    clip-path: polygon(43% 0, 100% 0, 40% 100%, 15% 100%);
    background: url(img_psd/bg-4.jpg);
    background-size: cover;
}
.main1-right .clip3 {
    background-color: #969696;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 40% 100%);
    background: url(img_psd/bg-3.jpg);
    background-size: cover;
}
.main1-right:hover .clip {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.main1-right .clip:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.main1-right .content {
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 70%;
    height: 75px;
    padding: 10px;
    padding-left: 20px;
    background-color: rgb(241, 241, 241);
    opacity: 0;
    border-radius: 0 5px 0 0;
    transition: .5s;
}
.main1-right .clip:hover .content {
    bottom: 0;
    opacity: 1;
}
.main1-right .content h2 {
    font-family: lato-bold, sans-serif;
}
.main1-right .content p {
    font-family: lato-regular, sans-serif;
}

.main2 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.main2-left {
    background: white;
    width: 300px;
}
.main2-left > div {
    position: relative;
}
.main2-left > div:first-child::after {
    position: absolute;
    content: '';
    left: 5%;
    bottom: 0;
    width: 90%;
    height: 2px;
    background: rosybrown;
}
.main2-left > div:first-child {
    height: 70px;
    line-height: 70px;
    padding: 0px 24px;
    margin-bottom: 25px;
}
.main2-left > div > * {
    display: inline-block;
    line-height: 70px;
}
.main2-left > div > h2 {
    text-transform: uppercase;
}
.main2-left > div > a {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(184, 184, 184);
    position: relative;
    vertical-align: middle;
    margin-top: -8px;
}

.main2-left > div > a > * {
    position: absolute;
    top: 4px;
    left: 9px;
    color: white;
}
.main2-left > div > a:last-child {
    margin-left: 4px;
}
.main2-left > div > a {
    margin-left: 90px;
}
.main2-left > div:last-child {
    background: rgb(255, 255, 255);
}
.main2-left > div:last-child {
    text-align: center;
    margin-top: 25px;
}
#information {
    height: 118px;
    margin-top: -26px;
}
#information > p {
    margin: 0;
    height: 30px;
    padding :0;
}
#information > p:first-child {
    text-transform: capitalize;
}
.main2-right {
    width: 834px;
    background: white;
}
.main2-menu  {
    height: 70px;
    position: relative;
    display: flex;
    line-height: 70px;
    justify-content: space-between;
    padding: 0px 24px;
    margin-bottom: 24px;
}
.main2-menu::after {
    position: absolute;
    content: '';
    left: 2%;
    bottom: 0;
    width: 96%;
    height: 2px;
    background: rosybrown;
}
.main2-menu li {
    display: inline-block;
    padding: 0px 12px;
}
.main2-menu h2 {
    text-transform: uppercase;
}
.main2-menu li a {
    text-transform: capitalize;
    font-family: lato-regular;
}
#a1, #a2{
    display: inline-block;
    height: 25px;
    width: 25px;
    background: rgb(219, 219, 219);
    border-radius: 50%;
    vertical-align: middle;
    position: relative;
}
#a1 > *, #a2 > * {
    position: absolute;
    top: 4px;
    left: 11px;
    color: white;
}
#a2 {
    margin-left: -18px;
}
#a1 > * {
    left: 9px;
}
.main2-prod {
    display: flex;
    justify-content: space-around;
}
.main2-prod img {
    width: 176px;
    height: 203px;
}
.main2-prod > div {
    text-align: center;
    height: auto;
}
.main2-prod1 {
    position: relative;;
}
.main2-prod1 span {
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
    position: absolute;

}
.main2-prod1:hover span {
    display: block;
}
#infor {
    margin-top: 30px;
}
#infor > p {
    line-height: 2px;
    padding-bottom: 26px;
}
#infor > p:last-child {
    margin-top: -3px;
}


/* map */
.map {
    padding-top: 40px;
    width: 100%;
    height: auto;
}
.map .ctn {
    background-color: white;
}
.map-top {
    width: 100%;
    padding: 30px;
    position: relative;
    margin-bottom: 13px;
}

.map-top::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 95%;
    background-color:rosybrown;
    bottom: 10px;
}
.map .map-bottom {
    display: flex;
}
.map > .ctn .ggmap {
    height: 500px;
    width: 70%;
}
.map > .ctn .infor {
    flex-grow: 3;
    width: 30%;
}
.map > .ctn .infor > div {
    padding: 20px;
    width: 100%;
    height: 100%;
}
.infor form {
    border: 1px solid rgb(235, 190, 190);
    height: 100%;
    width: 100%;
    border-radius: 2px;
}
.infor form h2 {
    margin-top: 2px;
}
.infor form > input, .infor form > textarea {
    width: 95%;
    margin: 0 8px;
}
.infor form > textarea {
    height: 140px;
}
.infor form > button {
    background-color: none;
    border: none;
    padding: 9px;
    margin: 18px;
    border-radius: 2px;
    background-color: rgb(68, 68, 68);
    color: white;
    transition: .5s;
    box-shadow: 0 0 5px rgb(104, 104, 104);
    cursor:  pointer;
}
.infor form > button:hover {
    color: black;
    background-color: white;
    box-shadow: 0 0 5px rgb(255, 13, 13);
}
.infor form > button > span {
    padding-left: 5px;
}
.infor form > button > * {
    font-size: 17px;
}
.infor form > * {
    display: block;
    padding: 10px;
}

/* con */
.category-prod {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #dbbf71;
    margin-bottom: 10px;
}
.category-prod h2 {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    display: inline-block;
}
.category-prod h2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: rgb(149, 132, 87);
    right: 0;
    bottom: 0;

}
.con  {
    width: 1170px;
    height: auto;
    margin: 0px auto;
    margin-top: 30px;
}
#owl1 > .prod {
    border: 1px solid black;
}
.top {
    position: relative;
    overflow: hidden;
}
.quick-view {
    position: absolute;
    top: 15%;
    transition: all .3s;
    right: -35px;
}
.quick-view a:nth-child(2) span{
    display: none;
}
.quick-view a:nth-child(2):hover span{
    display: inline-block;
}
.quick-view a:nth-child(2):hover svg{
    display: none;
}
.quick-view a {
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    margin-bottom: 5px;
    background-color: rgba(61, 61, 61, 0.5);
    color: white;
    transition: all .3s;
}
.quick-view a:hover {
    background-color: rgb(149, 132, 87);
}
.top:hover .quick-view {
    right: 5px;
}
.add-to-cart {
    position: absolute;
    height: 50px;
    line-height: 50px;
    bottom: -100px;
    width: 100%;
    text-align: center;
    transition: all .3s;
    background-color: rgba(61, 61, 61, 0.5);
    transition: all .3s;
}
.add-to-cart:hover {
    background-color: rgb(149, 132, 87);
}
.add-to-cart a {
    color: white;
}
.top:hover .add-to-cart {
    bottom: 0px;
}
.add-to-cart a {
    line-height: 50px;
    height: 50px;
    display: inline-block;
}
.add-to-cart span {
    padding-right: 10px;
}
.product-name {
    width: 100%;
    height: 60px;
    padding: 10px;
    background-color: white;
}
.product-name > * {
    display: block;
}
.owl-prev, .owl-next {
    position: absolute;
    top: -45px;
    right: 0px;
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 10px;
    background-color: rgb(149, 132, 87);
}
.owl-prev {
    right: 30px;
}
.owl-item {
    border: 1px solid rgba(194, 194, 194, 0.5);
}
.owl-item:hover {
    border: 1px solid #dbbf71;
}
.top .img {
    width: 224px;
    height: 273px;
}
 .top .img img{
    width: 100%;
    height: 100%;
}



/* product */

.product-detail {
    width: 1170px;
    margin: 0px auto;
    height: auto;
    background-color: white;
    margin-top: 20px;
}
.product-detail > .cate {
    height: 42px;
    line-height: 42px;
    display: flex;
}
.product-detail > .cate > .cate-left {
    width: 200px;
    background-color: #ff3366;
    color: white;
    display: flex;
    justify-content: space-between;
}
.product-detail > .cate > .cate-left h2{
    display: inline-block;
    align-items: center;
}
.product-detail > .cate > .cate-left span{
    font-size: 20px;
    padding: 0 10px;
}
.product-detail > .cate > .cate-right {
    width: 970px;
    border-bottom: 2px solid #ff3366;
    
} 



.product-detail > .cate > .cate-right li {
    display: inline-block;
    text-align: center;
    padding: 0px 10px;
    position: relative;
}
.product-detail > .cate > .cate-right li::after {
    content: '';
    position: absolute;
    
    width: 0;
    height: 0;
    left: 50%;
    z-index: 1;
    bottom: -30%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 6px solid rgba(0,0,0,0);
    transition: all .3s;
    
}
.product-detail > .cate > .cate-right li:hover::after{
    bottom: 5%;
    border-bottom: 6px solid rgba(226, 40, 87, 1);

}
.product-detail > .cate > .cate-right li::before{
    background-color: rgba(226, 40, 87, 1);
    content: '';
    width: 0%;
    height: 2px;
    position: absolute;
    left: 50%;
    transition: all .5s;
}
.product-detail > .cate > .cate-right li:hover::before{
    position: absolute;
    width: 90%;
    left: 5%;

}

/* .product-detail > .cate > .cate-right ul {
    display: flex;
    justify-content: space-around;
} */
.product-detail > .detail {
    margin-top: 0;
    display: flex;
    height: 678px;
}
.product-detail > .detail .category {
    width: 200px;
    height: auto;

}
.product-detail .prod-cate  {
    display: flex;
    flex-wrap: wrap;
    width: 970px;
}
.product-detail .prod-cate > div {
    width: 220px;
    height: 319px;
    margin: 0px auto;
    border: 1px solid rgba(194, 194, 194, 0.5);;
}
.product-detail .prod-cate > div:hover {
    border: 1px solid #dbbf71;
}
.product-detail .prod-cate img {
    width: 100%;
    height: 100%;
}
.prod-top {
    position: relative;
    overflow: hidden;
    text-align: center;
}
.prod-top > div:nth-child(1) > a {
    display: inline-block;
    height: 270px;
    width: 100%;
}
.prod-top img {
    display: inline-block;
    height: 270px;
    width: 100%;
}

.prod-top > div:nth-child(1) {
    width: 218px;
    height: 270px;
}
.prod-top > div:nth-child(1) img {
    width: 100%;
    height: 100%;
}
.prod-top a {
    display: inline-block;
    height: auto;
}
.prod-top .quick {
    position: absolute;
    left: 100%;
    top: 20%;
    transition: all .3s;
    
}
.prod-top .quick a {
    display: block;
    width: 30px;
    height: 30px;
    background-color: rgba(61, 61, 61, 0.5);
    color: white;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 5px;
    transition: all .4s;
}
.prod-top .quick a:hover {
    background-color: rgb(149, 132, 87);
}
.prod-top:hover .quick {
    left: 85%;
}
.prod-top .cart {
    bottom: -50px;
    background-color: rgba(61, 61, 61, 0.5);
    position: absolute;
    height: 50px;
    line-height: 50px;
    transition: all .3s;
    width: 100%;
}
.prod-top .cart:hover {
    background-color: rgb(149, 132, 87);
}
.prod-top .cart a {
    color: white;
}
.prod-top .cart a span {
    padding: 0px 5px;
}
.prod-top:hover .cart {
    bottom: 0px;
}
.prod-cate .name {
    width: 100%;
    height: 50px;
    padding: 5px;
    margin-top: -4px;
}
.prod-cate .name > *{
    display: block;
}
.quick a:nth-child(2) span{
    display: none;
}
.quick a:nth-child(2):hover span{
    display: inline-block;
}
.quick a:nth-child(2):hover svg{
    display: none;
}










/* footer */
.footer {
    width: 100%;
    height: auto;
    margin-top: 40px;
}
.footer .footer-logo {
    background-color: #f10e34;
}
.footer .footer-logo ul {
    text-align: center;
}
.footer .footer-logo li {
    display: inline-block;
    padding: 0px 35px;
    padding-top: 20px;
    padding-bottom: 20px;

}
.footer .footer-logo li a {
    vertical-align: middle;
    color: white;
}
.footer-infor {
    padding: 30px;
    display: flex;
    background-color: #222222;
    justify-content: space-around;
}
.footer-infor  * {
    color: #b6b6b6; 
}
.footer-infor li {
    height: 25px;
    line-height: 25px;
}
.footer-infor img {
    margin-right: 10px;
}
.footer-infor a,span {
    text-transform: capitalize;
}
.footer-infor4 span:nth-child(3) {
    display: block;
    padding-left: 26px;
    padding-top: 5px;
}
.footer-infor4 > div:last-child li {
    display: inline-block;
}
.footer-infor1 > div{
    padding-top: 15px;
    padding-bottom: 5px;
}
.footer-infor1 > p {
    padding-top: 3px;
    padding-bottom: 3px;
}
.footer-infor4 {
    width: 280px;
}
.footer-infor h2 {
    padding-top: 35px;
    padding-bottom: 26px;
}
.footer-end {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    background-color: #1f1e1e;
}
.footer-end > div:first-child ul {
    text-align: center;
}
.footer-end > div:first-child li {
    display: inline-block;
    padding: 0px 10px;
}
.footer-end > div:last-child {
    text-align: center;
    padding-top: 5px;
}
.footer-end p,a {
    /* color: rgb(179, 179, 179); */
    font-family: lato-regular, sans-serif;
}





